---
import avatar from '../assets/images/leaf-logo.svg';
import cover from '../assets/images/footer-cover.jpg';
---

<footer class="footer">
    <div class="footer__content">
        <a href="" class="footer__logo">
            <img src={avatar.src} alt="">
            Agro
            <span>Lab</span>
        </a>
        <div class="footer__grid">
            <ul class="footer__menu">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#team">Team</a>
                </li>
                <li>
                    <a href="#contact">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="footer__author">
            <a href="https://www.github.com">
                Design By Frank-Hz
            </a>
        </div>
    </div>
</footer>

<style>
    .footer {
        min-height: 300px;
        background: var(--primary-color-dark);
        position: relative;
        background: url('../assets//images//footer-cover-2.jpg');
        background-position: center;
        z-index: 0;
        display: flex;
        justify-content: center;
    }
    .footer::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: var(--optional);
        opacity: .8;
    }
    .footer__content {
        width: var(--max-width);
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    .footer__logo {
        position: relative;
        z-index: 1;
        text-decoration: none;
        outline: none;
        display: inline-flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--primary-color);
        cursor: pointer;
        padding: 2rem 0;
    }
    .footer__logo img {
        width: 30px;
        height: 30px;
    }
    .footer__logo span {
        color: #fff;
    }
    .footer__grid {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer__menu {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .footer__menu a {
        color: var(--text-light);
        font-size: 1rem;
        font-weight: 500;
        
    }
    .footer__author {
        padding: 1rem;
        display: flex;
        justify-content: center;
        
    }
    .footer__author a {
        text-decoration: none;
        font-size: 1rem;
        line-height: 1rem;
        text-align: center;
        color: #fff;
    }
</style>