---
import cactus  from '../assets/images/cactus-group-1.png';
---

<section id="home" class="section__container header__container">
    <div class="header__grid">
        <div class="header__content">
            <h1>
                 <span style="white-space: pre-line">We love helping</span>
                you to save the earth
            </h1>
            <p class="header__subtext">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam cupiditate sequi repellat, praesentium totam a vitae explicabo? Nostrum ab quam.
            </p>
            <div class="header__buttons">
                <button class="btn btn-primary">Join Now</button>
                <button class="btn">
                    See how it works
                    <i class="ri-arrow-right-s-line"></i>
                </button>
            </div>
        </div>
        <div class="header__image">
            <img src={cactus.src} alt="header image">
        </div>
    </div>
</section>
<style>
    .header__container {
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem 0;
    }
    .header__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .header__content h1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
        font-weight: 800;
        color: var(--text-dark);
        word-wrap: break-word;
    }
    .header__subtext {
        font-size: 1rem;
        line-height: 1.5rem;
        color: var(--text-dark);
    }
    .header__image {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        z-index: 1;
    }
    .header__image img {
        max-width: 540px;
        display: inline-block;
        height: auto;
        z-index: 1;
        transform: translate(10%,-18%);
    }
    
    @media (width < 1200px) {       
        .header__content h1 {
            font-size: 4.8rem;
            line-height: 4.8rem;
        } 
        .header__image img {
            max-width: 500px;
            transform: translate(0%, -15%);
        }
    }
    @media (width < 1000px) {
        .header__image img {
            max-width: 450px;
        }
    }
    @media (width < 900px) {
        .header__container {
            align-items: baseline;
        }
        .header__grid {
            grid-template-columns: repeat(1, 1fr);
        }
        .header__content {
            order: 1;
            align-items: center;
        }
        .header__content h1 {
            font-size: 3.5rem;
            line-height: 3.5rem;
            text-align: center;
        }
        .header__subtext {
            text-align: center;
        }
        .header__image {
            order: 0;
            justify-content: center;
        }
        .header__image img {
            position: inherit;
            max-width: 420px;
            transform: translate(0%, 0%);

        }
    }
    @media (width < 420px) {
        .header__content h1 {
            font-size: 3rem;
            line-height: 3rem;
        }
    }
</style>